.heroSection {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .heroSection--paragraph {
    color: #ebdbb2; }
    .heroSection--paragraph-title {
      font-family: "DynaPuff", cursive, monospace;
      font-size: 4rem;
      text-shadow: 0 0 20px #ebdbb2; }
      @media only screen and (min-width: 769px) {
        .heroSection--paragraph-title {
          font-size: 8rem; } }
    .heroSection--paragraph-sub {
      font-size: 1rem; }
      @media only screen and (min-width: 769px) {
        .heroSection--paragraph-sub {
          font-size: 1.5rem; } }

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .main--container-upload {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px; }
    .main--container-upload span,
    .main--container-upload p {
      color: #ebdbb2; }
    .main--container-upload input[type="file"] {
      display: none; }
  .main--container-files {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .main--container-files.container {
      padding: 0px;
      height: unset;
      max-height: unset; }
      @media only screen and (min-width: 769px) {
        .main--container-files.container {
          max-width: calc(45% - 1rem); } }
    .main--container-files:hover a {
      visibility: visible; }
    .main--container-files img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      object-fit: contain; }
  .main--palettePicker {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 769px) {
      .main--palettePicker {
        flex-direction: row; } }
  .main--btn {
    background-color: #ebdbb2;
    color: #282828;
    border-radius: 10px;
    padding: 6px 10px;
    border: none;
    cursor: pointer; }
    .main--btn:hover {
      background-color: #fbf1c7; }
    .main--btn-filepicker {
      display: inline-block; }
    .main--btn-upload:disabled {
      background-color: #3c3836; }
    .main--btn-download {
      border-radius: 10px;
      z-index: 100;
      height: 100%;
      width: 100%;
      background-color: #ebdbb2;
      visibility: hidden;
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ebdbb2;
      text-decoration: none;
      /* no underline */ }
      @supports (backdrop-filter: blur()) {
        .main--btn-download {
          background-color: #ebdbb233;
          backdrop-filter: blur(10px); } }
  .main--btnContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .main--btnContainer select {
      margin-left: 10px; }
  .main--imagePreview {
    flex: 1 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%; }
    .main--imagePreview img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
  .main--display {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (min-width: 769px) {
      .main--display {
        flex-direction: row; } }

.container {
  width: 100%;
  max-width: calc(100% - 4rem);
  height: 300px;
  max-height: 300px;
  border: 1px solid #ebdbb2;
  border-radius: 10px;
  padding: 10px; }
  @media only screen and (min-width: 769px) {
    .container {
      width: 750px;
      height: 500px;
      max-width: 750px;
      max-height: 500px; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

figure {
  margin: 0; }

select {
  outline: none;
  border: none; }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eee6ce;
  /* border: 2px solid #eff1f5; */ }

body {
  font-family: Consolas, "Lucida Console", ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  background-color: #282828;
  overflow: overlay;
  min-height: 100vh;
  height: 100%; }
