.heroSection {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &--paragraph {
    color: #ebdbb2;
    &-title {
      font-family: "DynaPuff", cursive, monospace;
      font-size: 4rem;
      text-shadow: 0 0 20px #ebdbb2;
      @media only screen and (min-width: 769px) {
        font-size: 8rem;
      }
    }
    &-sub {
      font-size: 1rem;
      @media only screen and (min-width: 769px) {
        font-size: 1.5rem;
      }
    }
  }
}
