@import "./hero", "./main", "./container";
// some resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

select {
  outline: none;
  border: none;
}

//styles
/* custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eee6ce;
  /* border: 2px solid #eff1f5; */
}

body {
  font-family: Consolas, "Lucida Console", ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  background-color: #282828;
  overflow: overlay;
  min-height: 100vh;
  height: 100%;
}
